.Card {
  background-color: red;
  border-radius: 10px;
  overflow: hidden;
  border: 3px solid red;
}
.Card .Title {
  padding: 10px 0px;
  display: flex;
  justify-content: center;
  color: #222;
}

.Card .Content {
  background-color: #fff;
  color: #222;
  padding: 20px;
}
